# Log files
*.log

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

#libs
*.dll

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

AIServer/[Dd]ebug/
AIServer/[Rr]elease/
AIServer/x64/
AIServer/[Bb]in/
AIServer/[Oo]bj/

AIServerUnitTests/[Dd]ebug/
AIServerUnitTests/[Rr]elease/
AIServerUnitTests/x64/
AIServerUnitTests/[Bb]in/
AIServerUnitTests/[Oo]bj/

# NuGet Packages Directory
packages/

#.vs
.vs/